<div class="education-section">
  <h2>EDUCATION</h2>

  <div class="timeline">
    <div class="timeline-entry">
      <div class="timeline-entry-content">
        <h3>Master of Science, Data Science</h3>
        <p>Saint Peter's University, Jersey city</p>
        <p class="location">New Jersey, NJ</p>
        <span class="badge"> May 2025</span>
        <p>Coursework:</p>
        <div class="tags">
          <span class="tag">Machine Learning</span>
          <span class="tag">Database Systems</span>
          <span class="tag">Visualization</span>
          <span class="tag">Data Mining</span>
          <span class="tag">Predictive Analytics</span>
        </div>
      </div>
    </div>

    <div class="timeline-entry">
      <div class="timeline-entry-content">
        <h3>Bachelor of Technology, Mechanical Engineering</h3>
        <p>Sree Vidyanikethan Engineering College</p>
        <p class="location">Tirupati, India</p>
        <span class="badge">July 2016 - May 2020</span>
        <p>Coursework:</p>
        <div class="tags">
          <span class="tag">Thermodynamics</span>
          <span class="tag">KOM</span>
          <span class="tag">Calculus</span>
          <span class="tag">Operations Research</span>
          <span class="tag">Cryogenics</span>
          <span class="tag">Automobile Engineering</span>
        </div>
      </div>
    </div>
  </div>
</div>
