<div class="about-container">
  <h1 class="about-title">ABOUT ME</h1>
  <p class="about-description">
    I am a passionate data Science graduate specializing in Machine Learning,
    Statistics, DBMS, Predictive Analytics, Visualization, Data Modeling,
    R-language, SQL, Data Mining. With a strong foundation in software
    engineering and data science, I bring hands-on experience from roles at
    various leading technology companies.
  </p>

  <p class="about-description">
    My technical expertise spans a wide range of programming languages,
    frameworks, and technologies. I'm proficient in Java, Python and web
    technologies, with strong skills in machine learning. My experience includes
    working with datavases . I'm adept at ML and full-stack development using
    Angular and Spring. This diverse skill set enables me to tackle complex
    problems and deliver efficient solutions across various domains in computer
    science and AI.
  </p>
</div>
