<div class="experience-section">
  <h2>PROFESSIONAL EXPERIENCE</h2>

  <div class="experience-list">
    <div class="experience-entry">
      <div class="experience-entry-content">
        <h3>Infosys Limited, India</h3>
        <p>Systems Engineer</p>
        <p class="date">Jan 2021 - Jul 2022</p>
        <p>
          Worked as a systems engineer to develop web-based applications based
          on client requirements. Below are the responsibilities:
        </p>
        <ul>
          <li>Development of UI Application based on client’s requirements</li>
          <li>
            Unit Testing the UI Application during the development process for
            usability and fixing bugs.
          </li>
          <li>Followed Agile methodology to complete the tasks</li>
          <li>Integration with backend team for testing of the application.</li>
          <li>
            Improving application based on the feedback taken from clients
          </li>
        </ul>
        <div class="tags">
          <span class="tag">Angular</span>
          <span class="tag">HTML</span>
          <span class="tag">CSS</span>
          <span class="tag">Typescript</span>
          <span class="tag">Agile</span>
        </div>
      </div>
    </div>
  </div>
</div>
