<div class="projects-container">
  <h1 class="projects-title">PROJECTS</h1>

  <div class="projects-grid">
    <div class="project-card">
      <img src="assets/heart.jpeg" alt="heart" />
      <div class="project-info">
        <h3>Heart disease</h3>
      </div>

      <div class="hover-content">
        <p>
          This project uses machine learning algorithms and data visualization
          to predict the early detection of heart disease. The model provides
          personalized recommendations based on the patient's data.
        </p>
        <div class="tags">
          <span class="tag">Machine Learning</span>
          <span class="tag"> Python</span>
          <span class="tag">Visualization</span>
        </div>
        <a
          href="https://github.com/Yaswanth-pati/Heart-disease-prediction"
          target="_blank"
          class="github-link"
          >GitHub</a
        >
      </div>
    </div>

    <div class="project-card">
      <img src="assets/traffic.png" alt="traffic" />
      <div class="project-info">
        <h3>Smart Traffic Management</h3>
      </div>

      <div class="hover-content">
        <p>
          This project addresses the problem of traffic congestion by using
          machine learning to predict traffic conditions. The model uses
          classification algorithms and data visualization techniques to help
          manage and reduce congestion.
        </p>
        <div class="tags">
          <span class="tag">Machine Learning</span>
          <span class="tag">Python</span>
          <span class="tag">Pandas</span>
        </div>
        <a
          href="https://github.com/Yaswanth-pati/traffic-management-optimization"
          target="_blank"
          class="github-link"
          >GitHub</a
        >
      </div>
    </div>

    <div class="project-card">
      <img src="assets/transportation.jpeg" alt="AI Medical Diagnosis" />
      <div class="project-info">
        <h3>Analyzing Trends in Commuter Transportation</h3>
      </div>

      <div class="hover-content">
        <p>
          Understanding how commuting behaviors of people vary across states and
          modes of transportation, potentially identifying trends or changes
          over time and visually represent it.
        </p>
        <div class="tags">
          <span class="tag">Microsoft PowerPoint</span>
          <span class="tag">Tableau</span>
        </div>
      </div>
    </div>
  </div>
</div>
